In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('data/ga_hits.csv', sep = ',')
df

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15726465,6866159858916559617.1640270865.1640270865,2021-12-23,810589.0,43,event,NaN,sberauto.com/cars/all/toyota/fortuner/24cb5af2...,quiz,quiz_show,NaN,NaN
15726466,7310304587364460692.1640261783.1640261783,2021-12-23,904927.0,40,event,NaN,sberauto.com/cars/all/mercedes-benz/gla-klasse...,quiz,quiz_show,NaN,NaN
15726467,8013702685784312179.1640270195.1640270195,2021-12-23,2172865.0,43,event,NaN,sberauto.com/cars/all/toyota/alphard/2ebe4871?...,quiz,quiz_show,NaN,NaN
15726468,8021505554734405918.1640257821.1640257821,2021-12-23,713325.0,45,event,NaN,sberauto.com/cars/all/bmw/x3/6a660f0a?rental_p...,quiz,quiz_show,NaN,NaN
15726469,1569014437485249865.1640269129.1640269129,2021-12-23,742820.0,46,event,NaN,sberauto.com/cars/all/bmw/7-serii/399ac530?utm...,quiz,quiz_show,NaN,NaN

In [16]:
values = [
    'sub_car_claim_click', 
    'sub_car_claim_submit_click', 
    'sub_open_dialog_click', 
    'sub_custom_question_submit_click', 
    'sub_call_number_click', 
    'sub_callback_submit_click', 
    'sub_submit_success', 
    'sub_car_request_submit_click'
]

# Заполнение столбца event_value
df['event_value'] = df['event_action'].apply(lambda x: 1 if x in values else 0)
df['event_value'].value_counts(dropna=False)

event_value
0    15621562
1      104908
Name: count, dtype: int64

In [17]:
# Удаляем ненужные/лишние колонки 

columns_to_drop = [
    'hit_date',
    'hit_time',
    'hit_number',
    'hit_type',
    'hit_referer',
    'hit_page_path',
    'event_category',
    'event_action',
    'event_label',
]

df.drop(columns_to_drop, axis=1, inplace=True)
df

                                         session_id  event_value
0         5639623078712724064.1640254056.1640254056            0
1         7750352294969115059.1640271109.1640271109            0
2          885342191847998240.1640235807.1640235807            0
3          142526202120934167.1640211014.1640211014            0
4         3450086108837475701.1640265078.1640265078            0
...                                             ...          ...
15726465  6866159858916559617.1640270865.1640270865            0
15726466  7310304587364460692.1640261783.1640261783            0
15726467  8013702685784312179.1640270195.1640270195            0
15726468  8021505554734405918.1640257821.1640257821            0
15726469  1569014437485249865.1640269129.1640269129            0

[15726470 rows x 2 columns]

In [18]:
df = df.drop_duplicates()
df.shape

(1784748, 2)

In [19]:
df = df.loc[df.groupby('session_id')['event_value'].idxmax]
df['event_value'].value_counts(dropna=False)

TypeError: unhashable type: 'DataFrame'

In [12]:
df['event_value'].value_counts(dropna=False)

event_value
1    50760
0    50138
Name: count, dtype: int64

In [15]:
df1 = pd.DataFrame({
    'session_id': [1, 1, 2, 2, 3, 3, 4, 5],
    'event_value': [0, 1, 0, 1, 0, 1, 0, 0]
})

# Drop duplicate rows based on session_id, keeping the row with event_value = 1
df1 = df1.loc[df1.groupby('session_id')['event_value'].idxmax()]

print(df1)

   session_id  event_value
1           1            1
3           2            1
5           3            1
6           4            0
7           5            0